apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: local

resources:
  - ../../base
  - namespace.yml
  - configmap.yml
  - secrets.yml

patches:
  - path: replicas.yml
  - path: service-patches.yml
  # Set imagePullPolicy to Never for local images
  - target:
      kind: Deployment
      name: backend
    patch: |-
      - op: replace
        path: /spec/template/spec/initContainers/1/image
        value: qa-lab-backend:latest
      - op: replace
        path: /spec/template/spec/initContainers/1/imagePullPolicy
        value: Never
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: qa-lab-backend:latest
      - op: replace
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: Never
  - target:
      kind: Deployment
      name: frontend
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: qa-lab-frontend:latest
      - op: replace
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: Never

labels:
  - pairs:
      environment: local
      managed-by: kustomize
